html {
    margin: 0;
    padding: 0;
    --backgroundColor: rgb(15, 20, 40);
}

body, iframe {
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

hr {
    margin: 0;
}

p {
    margin: 0;
}

.pad {
    padding: 8px;
}

@media print {
    .dontPrintMe, .dontPrintMe * {
        display: none !important;
    }
}

#controlsDiv {
    position: fixed;
    width: max-content;
    background-color: var(--backgroundColor);
}

input[type="file"] {
    display: none;
    /*background: rgb(50, 40, 60);*/
    /*border-radius: 10px;*/
}

input[type="button"], #logFileBrowseButton {
    background: rgb(20, 40, 80);
    color: white;
    border: 1px solid black;
    border-radius: 6px;
    padding: 6px 12px;
    text-decoration: none;
}

input[type="button"]:active, #logFileBrowseButton:active {
    background: rgb(15, 30, 60);
}

#logFileInputLabel {
    display: inline-block;
    max-width: 300px;
    word-wrap: break-word;
    vertical-align: middle;
}

#autoRefreshCheckbox {
    position: relative;
    margin: 0px 6px;
    top: 3px;
}

#refreshLogLabel {
    color: darkslategray;
}

#logContents>span {
    display: block;
}

#logContents>span>*:not(br):not(hr) {
    padding: 8px;
}

#logFileFrame {
    display: none;
}

/* Formatting log output. */

/* Vertical tree lines. */
.vtl {
    color: lightskyblue;
}

/* Horizontal tree lines. */
.htl {
    color: lightskyblue;
}

/* Good balance arrow. */
.gba {
    font-weight: bold;
    color: green;
}

/* Bad balance arrow. */
.bba {
    font-weight: bold;
    color: red;
}

/* Result. */
.res {
    color: burlywood;
}

.key {
    font-weight: bold;
    color: white;
}

.val {
    color: slateblue;
}

.nullptr {
    font-style: italic;
    color: gray;
}